<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styel.css">
    <title>Team profile template</title>
</head>
<body>
    <header>
        <h1 class="header-title">My Team</h1>
    </header>
    <main>
        <!-- Manager card -->
    <div id="card-row">
        <div class="card-column">
              <h2 class="card-header"></h2>
              <h4 class="job-title"></h4>
              <div class="card-body">
                  <p class="e-ID"></p>
                  <p class="email"></p>
                  <p class="office-no"></p>
              </div> 
        </div>
        <!-- Engineer card -->
        <div class="card-column">
            <h2 class="card-header"></h2>
            <h4 class="job-title"></h4>
            <div class="card-body">
                <p class="e-ID"></p>
                <p class="email"></p>
                <p class="github"></p>
            </div> 
        </div>
        <!-- Intern card -->
        <div class="card-column">
            <h2 class="card-header"></h2>
            <h4 class="job-title"></h4>
            <div class="card-body">
                <p class="e-ID"></p>
                <p class="email"></p>
                <p class="school"></p>
            </div> 
        </div>
    </div> 
    </main>
</body>
</html>