<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styel.css">
    <title>Team profile template</title>
</head>
<body>
    <header>
        <h1 class="header-title">My Team</h1>
    </header>
    <main>
        <!-- Manager card -->
    <div id="card-row">
        <div class="card card-column">
            <div class="card-header">
              <h2 ></h2>
              <h4 class="job-title"></h4>
            </div>
              <div class="card-body">
                  <p class="e-ID">ID:</p>
                  <p class="email">Email:<a href="mailto:"></a></p>
                  <p class="office-no">Office Number:</p>
              </div> 
        </div>
        <!-- Engineer card -->
        <div class="card card-column">
            <div class="card-header">
                <h2 >asia</h2>
                <h4 class="job-title">manager</h4>
            </div>
            <div class="card-body">
                <p class="e-ID">ID:</p>
                <p class="email">Email:<a href="mailto:"></a></p>
                <p class="github">GitHub Username:<a href="https://github.com/" target="_blank" rel="noopener noreferrer"></a></p>
            </div> 
        </div>
        <!-- Intern card -->
        <div class="card card-column">
            <div class="card-header">
                <h2 ></h2>
                <h4 class="job-title"></h4>
              </div>
            <div class="card-body">
                <p class="e-ID">ID:</p>
                <p class="email">Email:<a href="mailto:"></a></p>
                <p class="school">School:</p>
            </div> 
        </div>
    </div> 
    </main>
</body>
</html>