.header-title{
    text-align: center;
    border:2px solid chocolate; 
    border-radius: 5px;
    background-color: cyan;
}
#card-row {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    justify-content: center;
    padding-top: 100px;
  }
  
  .card-column:hover{
    box-shadow: 5px 0px 8px  rgb(106, 157, 190),  0 0 8px  rgb(106, 157, 190) ;
  }
  
  .card {
    border: 3px solid var(--violet-web);
    border-radius: 10px;
    width: 20%;
    min-height: 10em;
    background-color: rgba(0, 206, 209, 0.8);
    margin: 1em;
    text-align: center;
    min-width: 15em;
  }
  