:root{
  --font:#0baea5;
  --shadow:#a6ff9b;
  --border:#f9c1ed;
  --background1:#167d82;
  --background2:#ffffff;

}
body{
  color: var(--font);
  background-color:var(--background1);
  font-size: 20px;
}

.header-title{
    text-align: center;
    border:2px solid var(--border);
    background-color: var(--background2);
    border-radius: 5px;
    padding: 10px;;
}
#card-row {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    justify-content: center;
    padding-top: 10px;
  }
  .card-header{
    border-bottom:2px solid var(--background1);
    text-align: center;
    background-color: var(--background2);
    border-radius: 5px;
    padding: 10px;;
  }
  .card-header h2{
    margin: 0;
  }
  .card-column:hover{
    box-shadow: 5px 0px 8px  var(--shadow),  0 0 8px  var(--shadow);
  }
  a:hover{
    box-shadow: 5px 0px 8px  var(--shadow),  0 0 8px  var(--shadow);
  }
  .card {
    border: 3px solid var(--border);
    border-radius: 10px;
    width: 20%;
    min-height: 10em; 
    margin: 1em;
    text-align: center;
    min-width: 15em;
  }
  .card-body{
    padding:0 10px 0;
    text-align: left;
    color: var(--background2);
  }
  .e-ID,
  .email,
  .office-no,
  .github,
  .school{
    border-bottom: 1px solid;
    
  }
  a{
    color: var(--background2);
    border-radius: 5px;
    padding:0 10px 0;
  }
  .bold{
    font-weight: 600;
  }